@import '../../config';

article.content-blog {
    @include Flex(sb, none, c);
    @include FullSize;

    figure {
        width: 100%;
        aspect-ratio: 2.5;

        img {
            @include FullSize;
            object-fit: cover;
        }
    }

    section {
        &.paragraphs {
            p {
                &.title {
                    font-weight: 700;
                    @include Clamp(1.5, 8, 2.75);
                }

                &.text {
                    font-weight: 500;
                    font-size: 1.1rem;
                }
            }
        }

        &.informations {
            @include Flex(sb, c);

            p.category {
                color: $clr-grey;
                font-weight: 600;
            }

            section.tags {
                display: flex;

                span {
                    margin-right: .5em;
                    padding: .5em;
                    border-radius: .25em;
                    background: $clr-orange;
                    color: $clr-white;
                    font-weight: 600;
                    @include Clamp(.85, 3, .95);
                }
            }
        }
    }

    a {
        padding: .75em 2em;
        background: $clr-orange;
        border-radius: .25em;
        border: 0;
        outline: 0;
        width: max-content;
        cursor: pointer;
        background: $clr-blued;
        transition: .3s;
        color: $clr-white;
        font-weight: 500;
        text-decoration: none;
        @include Clamp(.9, 4, 1);

        &:hover { background: royalblue; }
    }

    @media (max-width: 1000px) {
        section {
            &.informations {
                section.tags { margin-bottom: .5em; }
            }
        }

        a {
            margin-top: 2em;
        }
    }

    @media (max-width: 480px) {
        section {
            &.informations {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}