@import '../../config';

article.content-card {
    @include Flex(c, c, c);
    @include FullSize;

    div.header {
        margin-bottom: .5em;
        @include Clamp(1, 6, 1.5);
        background: $clr-orange;
        padding: .5em 3em;
        position: relative;
        color: $clr-white;
        font-weight: 700;

        &::after,
        &::before {
            content: '';
            height: 50%;
            background: $clr-white;
            aspect-ratio: 1;
            position: absolute;
            top: 50%;
            rotate: 45deg;
        }

        &::before {
            right: 0;
            translate: 50% -50%;
        }

        &::after {
            left: 0;
            translate: -50% -50%;
        }
    }

    div.card {
        width: 50%;
        min-width: 300px;
        max-width: 350px;
        border: 2px solid $clr-orange;
        border-radius: .25em;
        position: relative;
        aspect-ratio: .75;
        color: $clr-white;
        @include Flex(fe, fs, c);
        padding: 1em;

        p {
            text-shadow: 0 0 2px $clr-black;

            &.name {
                font-weight: 700;
                border-left: 3px solid $clr-orange;
                padding-left: .5em;
                @include Clamp(1, 5, 1.25);
            }

            &.price {
                font-weight: 800;
                margin: .25em 0;
                font-family: 'Arvo', serif;
                letter-spacing: 2px;
                font-size: 2.75rem;
                @include Flex(none, fs);

                span {
                    font-size: 1.5rem;
                }
            }
        }

        a {
            padding: .75em 2em;
            background: $clr-orange;
            outline: 0;
            border: 0;
            border-radius: .25em;
            cursor: pointer;
            transition: .3s;
            text-decoration: none;
            color: $clr-white;
            font-weight: 600;

            &:hover { background: orange }
        }

        figure {
            @include FullSize;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            
            img {
                @include FullSize;
                object-fit: cover;
            }
        }
    }

    @media (max-width: 480px) {
        div.card {
            @include ResetWidth;
            width: 90%;
            max-width: 300px;
        }
    }
}