@import '../../config';

article.content-text {
    @include FullSize;
    @include Flex(c, none, c);
    padding: 2em;
    position: relative;
    color: $clr-white;

    video {
        position: absolute;
        left: 0;
        top: 0;
        @include FullSize;
        object-fit: cover;
        z-index: -1;
    }

    p {
        &.header {
            font-weight: 800;
            @include Clamp(2, 8, 3);
        }

        &.text {
            margin: .25em 0 1em 0;
            @include Clamp(.9, 4, 1);
        }
    }

    a {
        width: max-content;
        text-decoration: none;
        padding: 1em 2em;
        background: orangered;
        cursor: pointer;
        @include Clamp(.9, 4, 1);
        transition: .3s;
        border-radius: .25em;
        color: $clr-white;
        font-weight: 600;

        &:hover { background: $clr-orange; }
    }

    @media (max-width: 480px) { padding: 1em; }
}