@import '../config';

main.contact-page {
    min-height: 100vh;
    padding-top: $navHeight;
    background: $bgTransparent;
    color: $clr-black;

    h1 {
        font-weight: 800;
        @include Clamp(1.75, 7, 2.25);
        padding: 2em;
    }

    section {
        &.contact-form {
            @include Flex(sa);
            margin-top: 10em;
            padding: 0 1em;

            article.form-text {
                width: 30%;

                p.header {
                    font-size: 1.5rem;
                    font-weight: 700;
                }

                section {
                    margin-top: 3em;
                    @include Flex(sb, c);

                    p {
                        font-weight: 500;
                    }

                    span {
                        @include Rectangle(30px);
                        cursor: pointer;
                        transition: .5s;
                    }
                }
            }

            form {
                padding: 1em;
                width: 45%;
                position: relative;
                background: $clr-white;

                div.result-box {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    background: $clr-white;
                    padding: .75em;
                    text-align: center;

                    p {
                        width: max-content;
                        padding-top: .25em;
                        margin: 0 auto;
                        font-weight: 500;
                    }

                    &.true p { border-top: 2px solid green; }
                    &.false p { border-top: 2px solid red; }
                }

                input,
                textarea {
                    width: 100%;
                    transition: .3s;
                    padding: .75em;
                    border: 0;
                    @include Clamp(.85, 4, .95);
                    outline: 0;
                    border-radius: .25em;
                    border-left: 2px solid $clr-orange;
                    background: darken($clr-white, 2%);
                }

                div {
                    margin-bottom: 1em;

                    label {
                        display: block;
                        font-weight: 600;
                        margin-bottom: .25em;
                        font-size: .9rem;
                    }
                }

                button {
                    padding: .75em 2em;
                    background: $clr-orange;
                    outline: 0;
                    border: 0;
                    cursor: pointer;
                    transition: .5s;
                    margin-top: 2em;
                    border-radius: .25em;

                    label {
                        color: $clr-white;
                        font-weight: 500;
                    }

                    &:hover { background: orangered; }
                }

                textarea {
                    margin-top: 1em;
                    resize: none;
                    height: 250px;
                }
            }
        }

        &.socials-section {
            padding: 1em;

            section.socials {
                @include Flex(sa);

                span {
                    @include Rectangle(clamp(40px, 15vw, 90px));
                    cursor: pointer;
                    transition: .3s;

                    &:hover { scale: 1.1; }
                }
            }

            h2 {
                text-align: center;
                margin-bottom: 4em;
                @include Clamp(1, 6, 1.5);
                font-weight: 700;
            }
        }

        &.location {
            article.left-section {
                section.details {
                    color: $clr-white;
                }

                p {
                    &.text {
                        text-shadow: none;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        h1 { text-align: center; padding: 2em 0 1em 0; }

        section {
            &.contact-form {
                margin: 5em 0 2em 0;
                flex-direction: column;
                padding: .5em;

                article.form-text {
                    width: 100%;
                    margin-bottom: 4em;
                }

                form {
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 480px) {
        section {
            &.contact-form {
                margin-top: 4em;
            }
        }
    }
}