@import '../config';

section.location {
    @include Flex(c, c);
    height: 100vh;
    overflow: hidden;

    article.left-section {
        width: 35%;
        margin-right: 1em;

        p {
            &.header {
                font-weight: 800;
                font-size: 3rem;
                
            }

            &.text {
                text-shadow: 0 0 2px $clr-black;
                font-weight: 500;
                margin-bottom: 2em;
                font-size: 1.1rem;
                border-left: 3px solid $clr-orange;
                padding-left: .5em;
            }
        }

        section.details {
            @include Flex(sb);
            translate: 0 100vh;

            div {
                aspect-ratio: 1;
                background: rgba(255, 136, 0, .9);
                border-radius: .25em;
                width: 30%;
                @include Flex(sb, c, c);
                padding: 1.25em .75em;
                text-align: center;

                span {
                    width: 50%;
                    aspect-ratio: 1;
                    @include Flex(c, c);
                    border: 1px solid $clr-white;
                    border-radius: 50%;

                    svg {
                        @include FullSize(70%);
                    }
                }

                p {
                    font-weight: 700;
                }
            }
        }
    }

    iframe {
        width: 35%;
        aspect-ratio: 1.25;
    }

    &.viewport {
        article.left-section {
            section.details {
                animation: locationAnim 2.5s;
                animation-fill-mode: forwards;

                @keyframes locationAnim {
                    0% { translate: 0 100vh; }
                    100% { translate: 0; }
                }
            }
        }
    }
}