@import '../config';

section.offer {
    min-height: 100vh;
    background: $bgTransparent;
    position: relative;
    padding: 3em 1em;
    color: $clr-black;
    @include Flex(sa, c, c);
    overflow: hidden;

    section.entry-text {
        @include Layer;
        text-align: center;
        width: 100%;
        margin-bottom: 1em;

        p {
            &.header {
                font-size: 2.5rem;
                font-weight: 800;
                color: $clr-orange;
                text-shadow: 0 0 1px $clr-black;
            }

            &.text {
                font-family: 'Arvo', serif;
                @include Clamp(.95, 4, 1.1);
                width: 50%;
                margin: 0 auto;
                text-shadow: 0 0 1px $clr-white;
            }
        }
    }

    section.container {
        @include Flex(sa);
        width: 100%;
        @include Layer;
        flex-wrap: wrap;

        article.card {
            width: 25%;
            min-width: 350px;
            margin: .75em;
            border-radius: .5em;
            background: rgb(240, 240, 240);
            padding: 2em;
            @include Flex(sb, none, c);
            translate: 0 -100vh;

            p.type {
                font-weight: 500;
                font-size: 1.25rem;

                &.blue { color: $clr-blued }
                &.green { color: rgb(15, 155, 15) }
                &.red { color: $clr-red }
            }

            section.pricing {
                @include Flex(fs);
                margin: 1.5em 0;

                p {
                    &.price {
                        font-size: 2rem;
                        font-weight: 800;
                    }

                    &.per {
                        margin-left: .5em;
                    }
                }
            }

            ul.list {
                list-style: none;

                li {
                    @include Flex(none, c);
                    @include NotMargin(.75);

                    span {
                        @include Rectangle(30px);
                        margin-right: .5em;
                    }

                    p {
                        font-weight: 500;
                        @include Clamp(.9, 4, 1);
                    }

                    &.true span {
                        color: green;
                    }

                    &.false span {
                        color: red;
                    }
                }
            }

            p.desc {
                margin: 1em 0;
                opacity: .8;
                @include Clamp(.9, 4, 1);
            }

            button {
                width: 100%;
                padding: 1em 0;
                background: $clr-blued;
                border-radius: .25em;
                outline: 0;
                border: 0;
                cursor: pointer;
                transition: .3s;
                margin-top: 3em;

                label {
                    color: $clr-white;
                    font-weight: 500;
                }

                &:hover { background: royalblue; }
            }
        }

        &.viewport {
            article.card {
                animation: offerAnim 2s;
                animation-fill-mode: forwards;

                &:nth-child(2) { animation-delay: .4s;}
                &:nth-child(3) { animation-delay: .8s;}
            }
    
            @keyframes offerAnim {
                0% { translate: 0 -100vh; }
                100% { translate: 0 0; }
            }
        }
    }

    div.bg {
        position: absolute;
        top: 0;
        background: $clr-orange;
        width: 30%;
        height: 100vh;
        left: 25%;
        translate: -25% 0;
        transform: skew(45deg);
    }
    
    @media (max-width: 1000px) { div.bg { display: none; } }

    @media (max-width: 480px) {
        padding: 3em .25em;

        section.entry-text {
            p { &.text { width: 100%; } }
        }

        section.container {
            article.card {
                @include ResetWidth;
                margin: .75em 0;
                width: 100%;
                padding: 1em;
            }
        }
    }
}