@import '../config';

section.reviews {
    min-height: 100vh;
    position: relative;
    background: $bgTransparent;
    padding: 1.5em;
    color: $clr-black;
    overflow: hidden;

    section.reviews-container,
    section.text {
        @include Center(90%);
    }

    section.reviews-container {
        @include Flex(sa);
        flex-wrap: wrap;
        z-index: 2;
        position: relative;

        article.review {
            width: 45%;
            min-width: 350px;
            margin: 0 .25em 2em .25em;
            padding: 1.5em;
            border-radius: .5em;
            background: $clr-white;

            section {
                &.review-socials {
                    display: flex;

                    span {
                        @include Rectangle(40px);
                        margin-right: .5em;
                        cursor: pointer;
                        transition: .5s;

                        &:hover {
                            scale: 1.2;
                        }
                    }
                }

                &.user {
                    @include Flex(none, c);

                    figure {
                        width: 10%;
                        min-width: 45px;
                        aspect-ratio: 1;

                        img {
                            @include FullSize;
                            object-fit: cover;
                        }
                    }
    
                    p {
                        font-weight: 600;
                        letter-spacing: -1px;
                        margin-left: .5em;
                    }
                }

                &.text-container {
                    margin: 2em 0;
                    padding: 1em;
                    border-radius: .25em;
                    position: relative;

                    span {
                        position: absolute;
                        @include Rectangle(30px);
                        left: 0;
                        top: 0;
                        translate: -50% -50%;
                    }

                    p {
                        @include Clamp(.9, 3, .95);
                    }
                }
            }
        }
    }

    section.text {
        margin-bottom: 4em;

        p {
            &.header {
                font-weight: 800;
                @include Clamp(2, 9, 2.5);
                color: $clr-orange;
                text-shadow: 0 0 1px $clr-black;
            }

            &.text {
                font-family: 'Arvo', serif;
                @include Clamp(.9, 4, 1.1);
            }
        }
    }

    div.bg {
        position: absolute;
        height: 100vh;
        width: 30%;
        background: $clr-orange;
        
        &.one {
            top: 0;
            left: 25%;
            translate: -25% 0;
            transform: skew(-45deg);
        }

        &.two {
            top: 100vh;
            left: 0;
            width: 21%;
        }
    }
    
    @media (max-width: 1000px) { div.bg { display: none; } }

    @media (max-width: 480px) {
        section.reviews-container,
        section.text { width: 100%; }

        padding: 1.5em .5em;

        section.reviews-container {
            article.review {
                @include ResetWidth;
                width: 100%;
            }
        }
    }
}