@import '../config';

main.article-page {
    width: 90%;
    margin: calc($navHeight + 2em) auto 2em auto;
    background: $clr-white;
    min-height: 100vh;
    color: $clr-black;
    padding: .5em;

    article.main {
        padding: 2em 0;
        border-bottom: 3px solid $clr-grey;
        @include Center(75%);
        margin-bottom: 3em;

        p.date {
            font-weight: 500;
            margin-bottom: .5em;
            border-left: 2px solid $clr-orange;
            padding-left: .25em;
            @include Clamp(.9, 4, 1);
        }

        section.tags-category {
            @include Flex(sb, c);
            margin: .25em 0 3em 0;

            p {
                font-weight: 500;
                @include Clamp(.8, 4, 1);
            }

            section.tags {
                display: flex;

                span {
                    background: $clr-orange;
                    border-radius: .25em;
                    margin-right: .25em;
                    padding: .5em;
                    @include Clamp(.8, 4, 1);
                    color: $clr-white;
                    font-weight: 600;
                }
            }
        }

        p.path {
            @include Flex(none, c);
            margin-bottom: .25em;
            font-size: .8rem;

            &,
            span {
                font-weight: 500;
            }

            span {
                margin: 0 .5em;
                &:first-child { margin-left: 0; }
                cursor: pointer;
                transition: .5s;
                @include Clamp(.85, 4, 1);

                &:hover {
                    color: $clr-orange;
                }

                &.disabled {
                    pointer-events: none;
                    color: royalblue;
                }
            }
        }

        h1 {
            font-weight: 800;
            @include Clamp(2.25, 10, 3.5);
            margin-bottom: 1em;
        }

        p.text {
            line-height: 2em;
            font-weight: 500;
            @include Clamp(1, 4, 1.1);

            span.header {
                font-size: 1.5rem;
                font-weight: 700;
                display: block;
                margin: 1.5em 0 .5em 0;
            }
        }

        figure {
            width: 100%;
            aspect-ratio: 2;

            img {
                @include FullSize;
                object-fit: cover;
            }
        }
    }

    @media (max-width: 1000px) {
        width: 100%;
        margin-bottom: 0;

        article.main {
            width: 100%;
            padding: 1em 0;
        }
    }
}