@import '../config';

section.finish-article {
    margin: 4em auto;
    width: 90%;
    
    p.finish-header {
        font-size: 1.5rem;
        @include Clamp(1, 6, 1.5);
        font-weight: 700;
        margin-bottom: 3em;
    }

    section {
        &.comments {
            margin-bottom: 4em;

            section.toggle-comments {
                @include Flex(sb, c);
                cursor: pointer;
                padding-bottom: 4em;

                p {
                    margin-bottom: 0;
                }

                span {
                    @include Rectangle(35px);
                    rotate: 180deg;
                    transition: .5s;
                }
            }

            section.container {
                transition: .5s;

                article.comment {
                    position: relative;
                    @include Flex(sb);
                    @include NotMargin(4);

                    figure {
                        width: 8%;
                        aspect-ratio: 1;
                        flex-shrink: 0;
                        height: max-content;

                        img {
                            @include FullSize;
                            object-fit: cover;
                        }
                    }

                    section.text {
                        width: 90%;

                        p {
                            &.author {
                                font-weight: 700;
                                margin-bottom: 1em;
                                @include Clamp(.85, 4, 1);
                            }

                            &.text {
                                @include Clamp(.85, 4, .95);
                            }
                        }
                    }

                    p.date {
                        position: absolute;
                        right: 0;
                        top: 0;
                        font-weight: 500;
                        @include Clamp(.85, 4, 1);
                    }
                }
            }
        }

        &.misc {
            @include Flex(c, c);
            margin-bottom: 4em;
    
            div.info {
                margin: 0 1.5em;
                @include Flex(c, c, c);
    
                span {
                    @include Rectangle(clamp(35px, 8vw, 60px));
                }
    
                p {
                    text-align: center;
                    margin-top: .25em;
                    font-weight: 600;
                    letter-spacing: 1px;
                    @include Clamp(1, 4, 1.1);
                }
            }
        }

        &.related-articles {
            article.related-article {
                @include NotMargin(3);
                display: flex;
                cursor: pointer;
    
                section.text {
                    flex-grow: 1;
                    position: relative;
                    @include Flex(sb, none, c);
    
                    p {
                        &.header {
                            font-weight: 600;
                            @include Clamp(1.2, 6, 1.75);
                            margin-bottom: .25em;
                            width: 50%;
                        }

                        &.date {
                            font-weight: 600;
                            @include Clamp(.8, 4, 1);
                        }

                        &.category {
                            position: absolute;
                            right: 0;
                            top: 0;
                            font-style: italic;
                            @include Clamp(.8, 4, 1);
                            font-weight: 500;
                        }
                    }
                }
    
                figure {
                    width: 20%;
                    aspect-ratio: 1.75;
                    flex-shrink: 0;
                    min-width: 80px;
                    height: max-content;
                    margin-right: 1em;
    
                    img {
                        @include FullSize;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    @media(max-width: 1000px) {
        width: 100%;
    }

    @media(max-width: 768px) {
        section {
            &.related-articles {
                article.related-article {
                    section.text {
                        p {
                            &.header { width: 100%; margin-bottom: .75em; }
                            &.category {
                                top: auto;
                                bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 480px) {
        section {
            &.misc {
                div.info {
                    margin: 0 .75em;
                }
            }

            &.related-articles {
                article.related-article {
                    figure {
                        margin-right: .25em;
                    }
                }
            }

            &.comments {
                section.toggle-comments { padding-bottom: 2em; }
            }
        }
    }
}