/*
    font-family: 'Raleway', sans-serif;
    
    font-family: 'Arvo', serif;
    400 800
*/

@import './config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
}

body {
    scroll-behavior: smooth;
    width: 100vw;
    min-height: 100vh;
    background: $clr-black;
    background: url('../images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    color: $clr-white;

    ::-webkit-scrollbar {
        width: 4px;
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        width: 100%;
        border-radius: 1em;
        background: grey;
    }

    svg { @include FullSize; pointer-events: none; }

    span.layout-arrow {
        position: fixed;
        z-index: 8;
        right: 6px;
        bottom: 6px;
        @include Rectangle(30px);
        @include Flex(c, c);
        background: $clr-blued;
        cursor: pointer;
        transition: .5s;
        pointer-events: none;
        opacity: 0;
        border-radius: .2em;

        svg {
            @include FullSize(80%);
            transition: .5s;
        }

        &:hover {
            background: royalblue;

            svg {
                rotate: 360deg;
            }
        }
    }
}